<th:block th:fragment>
    <div class="container justify-content-center mt-3">
        <div style="background-color: rgba(18,49,32,0.68); border: white 1px solid; border-radius: 8px; justify-content: center;">
        <div class="container">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1 class="myBackgroundColor">Import JSON</h1>
                </div>
                 <hr class="hr-background my-hr"/>
                <th:block th:if="${areImported[0] != true || areImported[1] != true} ">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h5 class="myBackgroundColor">Click the buttons below to import JSON.</h5>
                    </div>
                </th:block>
                <div class="col-md-12 d-flex justify-content-center">
                    <th:block th:if="${areImported[1] == false}">
                        <a class="btn btn-success mx-5 my-5" th:href="@{/import/countries}">Import Countries</a>
                    </th:block>
                    <th:block th:if="${areImported[0] == false}">
                        <a class="btn btn-success mx-5 my-5" th:href="@{/import/attractions}">Import Attractions</a>
                    </th:block>
                    <th:block th:if="${areImported[0] == true && areImported[1] == true} ">
                        <p class="bg-success rounded p-2" style="color: white">All JSON files are imported.</p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>